@import url('fonts/plex/css/ibm-plex.css');

slide img {
  max-width: 768px;
  max-height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body slides > slide {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #111111;
}

h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.title-slide hgroup h1, .title-slide hgroup h2, .segue h2 {
    font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
}

slides > slide:not(.nobackground):after {
  color: #ffffff;
}

slides > slide:not(.nobackground):before {
  background-size: 50px 50px;
  padding-left: 50px;
  height: 50px;
  bottom: 5px;
}

.title-slide hgroup p {
  font-weight: 400;
}

a { 
  text-decoration: none; 
  color: #1f78b4;
  border-bottom: 2px dotted #1f78b4;
}

strong {
  color: #e31a1c;
}

pre:not(.prettyprint) {
  font-size: 16px;
}

code, pre {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

pre {
  overflow-x: auto;
}

pre code {
  word-wrap: normal;
  white-space: pre;
}
