.navbar-brand {
    padding: 0;
}

.navbar {
    border: 0;
    z-index: 9999;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.logo {
    margin: 0;
}

.header {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 5px;
}